/* Override SB Admin 2 base font */
html {
    font-size: 1rem;
    /* volta ao padrão do navegador */
}

body {
    font-size: 1rem;
}

}

body {
    /* background: linear-gradient(135deg, #4e73df, #224abe); */
    height: 100vh;
}

.login-container {
    height: 100vh;
}

.login-card {
    width: 100%;
    max-width: 400px;
    border-radius: 12px;
    background: #fff;
}

.login-card .form-control {
    border-radius: 8px;
    padding: 12px;
}

.login-card .btn {
    border-radius: 8px;
}